
        <div >
                <ul>
                        <li>
                            <a routerLink="/">Home</a> 
                                  
                        </li>
                        <li>
                            <a routerLink="/seeu/dashboard">Seeu Dashboard</a>       
                        </li>
                </ul>
        </div>
        <div >
            <ul>
                <li *ngIf="!authService.isAuthenticated">
                    <a routerLink="/register">Register</a>
                </li>
                <li *ngIf="!authService.isAuthenticated">
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                        <a routerLink="/post">Post</a>
                </li>
                <li>
                        <a routerLink="/users">Users</a>
                </li>
                <li *ngIf="authService.isAuthenticated" (click)="authService.logout()">
                        <a>Logout</a>
                </li>
            </ul>
        </div>
