<section class="ma-section">
  <div class="container">
    <div class="row justify-content-md-center">
      <h1 class="ma-heading text-dark mb-4">Register</h1>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <form class="ma-form mb-5">
          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="email" [(ngModel)]="registerData.email">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="password" [(ngModel)]="registerData.pwd">
                </div>
              </div>   
              <div class="col-md-12">
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="name" class="form-control" id="name" name="name" placeholder="name" [(ngModel)]="registerData.name">
                </div>
              </div>                  
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea cols="30" rows="10" class="form-control" id="description" name="description" [(ngModel)]="registerData.description"></textarea>
          </div>
          <div class="row">
            <div class="col-md-12">
                <button (click)="post()" class="btn btn-primary">Register</button>
            
                <button (click)="clear()" class="btn btn-warning btn-margin-left">Clear</button>
            </div>
          </div>
          
        </form>
      </div>
      
    </div>

  </div>
</section>