<section class="ma-cover">
    <div class="container">
      <div class="row ma-vh-100 align-items-center text-center">
        <div class="col-sm">
          <div class="ma-text">
            <h1 class="ma-heading text-white mb-4">[ Full Stack Web Developer ]</h1>
            <div class="ma-subheading mb-5">
              <p class="h4 font-weight-normal">I also work at <u>unylog.com</u></p>
            </div>
            <p><a href="#" class="btn btn-primary mr-2 mb-2">Hire me</a>
               <a href="#" class="btn btn-primary btn-outline-white mb-2">Portfolio</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>